*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #F0F7FF;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "Times New Roman", serif;
  font-size: 24px;
  color: #333333;
}

ol {
  font-family: "Times New Roman", serif;
  font-size: 21px;
  color: #333333;
}

button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Times New Roman", serif;
  font-size: 18px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #F0F7FF;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.title {
  font-family: Times New Roman;
  font-size: 24px;
  font-weight: bold;
  background: #F0F7FF;
}

.content {
  margin-top: 80px;
}

.container {
  background: white;
  width: 450px;
  padding: 35px;
  border-radius: 5px;
  margin: 0 auto;
}

input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#showImg {
  display: block;
  margin: 0 auto;
  max-width: 1%;
  max-height: 1px;
  background: #174353;
  border-radius: 5px;
}

button,
.upload {
  width: 220px;
  margin: 10px;
  text-align: center;
  position: relative;
  padding: 10px 5px;
  font-size: 17px;
  outline: none;
  color: #fff;
  border: none;
  background-color: #023780;
  border-radius: 5px;
  display: block;
}

.upload {
  background: #a74901;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.small-container {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
}

.contact-section {
  display: none;
}

@media screen and (max-width: 768px) {
  .container1 {
    width: 90%;
  }

  .small-container {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .container1 {
    width: 95%;  
    margin: 35%
  }

  .small-container {
    width: 100%;
  }
}

.title-box {
  background: linear-gradient(to right, #FFFFFF, #F8F8FF);
  padding: 20px;
  display: flex;
  align-items: center;
}

.title {
  font-family: serif;
  font-size: 24px;
  font-weight: bold;
}